@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;600&display=swap');

:root {
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --bg-main: hsl(217, 54%, 11%);
    --bg-card: hsl(216, 50%, 16%);
    --color-line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

* {
    box-sizing: border-box;
}

/* - Font size (paragraph): 18px */

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: 'Outfit', sans-serif;
}

.container {
    height: 100vh;
    background: var(--bg-main);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---------------------------------- */
/* CARD COMPONENT */
/* ---------------------------------- */
.card {
    background-color: var(--bg-card);
    max-width: 30rem;
    padding: 2rem;
    border-radius: 1.5rem;
}

/* ---------------------------------- */
/* CARD HEADER */
/* ---------------------------------- */

.card__header {
    position: relative;
}

.card__header:hover {
    cursor: pointer;
    border-radius: 1rem;
    background-color: var(--cyan);
}  

.card__image {
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

.card__header:hover .card__image {
    opacity: 0.7;
}

.card__image-hover {
    transition: 0.5s ease;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.card__header:hover .card__image-hover {
    opacity: 1;
}

/* ---------------------------------- */
/* CARD BODY */
/* ---------------------------------- */
.card__body {
    border-bottom: 1px solid var(--color-line);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 0 2rem;
}

.card__title {
    color: var(--white);
    font-weight: 600;
    font-size: 2.5rem;
}

.card__title:hover {
    color: var(--cyan);
    cursor: pointer;
}

.card__copy {
    color: var(--soft-blue);
    line-height: 2.5rem;
    font-weight: 200;
}

.card__data {
    display: flex;
    justify-content: space-between;
}

.card__eth {
    color: var(--cyan);
    font-weight: 600;
    
}

.card__eth::before {
    content: url("../images/icon-ethereum.svg");
    margin-right: 0.5em;
    vertical-align: middle;
}

.card__countdown {
    color: var(--soft-blue);
}

.card__countdown::before {
    content: url("../images/icon-clock.svg");
    margin-right: 0.5em;
    vertical-align: middle;
}


/* ---------------------------------- */
/* CARD FOOTER */
/* ---------------------------------- */
.card__footer {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

.card__avatar {
    width: 4rem;
    border: 1px solid var(--white);
    border-radius: 50%;
}

.card__author {
    color: var(--soft-blue);
}

.card__author-name {
    color: var(--white);
    font-weight: 600;
}

.card__author-name:hover {
    cursor: pointer;
    color: var(--cyan);
}